ws-server/src/main/resources/ForceMgr.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:impl="http://ws.inf.eomm.ebs.starhub.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.inf.eomm.ebs.starhub.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.inf.eomm.ebs.starhub.com">
            <xs:element name="QueryAvailableTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="in" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="QueryAvailableTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="QueryAvailableTimeRequest">
        <wsdl:part name="parameters" element="impl:QueryAvailableTime"/>
    </wsdl:message>
    <wsdl:message name="QueryAvailableTimeResponse">
        <wsdl:part name="parameters" element="impl:QueryAvailableTimeResponse"/>
    </wsdl:message>
    <wsdl:portType name="ForceMgrPortType">
        <wsdl:operation name="QueryAvailableTime">
            <wsdl:input message="impl:QueryAvailableTimeRequest" wsaw:Action="urn:QueryAvailableTime"/>
            <wsdl:output message="impl:QueryAvailableTimeResponse" wsaw:Action="urn:QueryAvailableTimeResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ForceMgrSoap11Binding" type="impl:ForceMgrPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="QueryAvailableTime">
            <soap:operation soapAction="urn:QueryAvailableTime" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ForceMgr">
        <wsdl:port name="ForceMgrHttpSoap11Endpoint" binding="impl:ForceMgrSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ForceMgr"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
